/* Import font from Google */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Change default box sizing, margin/padding and background color */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1C140D;
    text-align: center;

}

/* Change font style of lists, links and button */

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}

/* Change logo style */

.logo {
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 24px;
    color: #ffffff;
}

/* Turn header into flex box to space out elements evenly */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 5%;
}

/* Remove bullets and display links inline */

.navLinks {
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0px 24px;
}

/* Style button */

button {
    padding: 8px 24px;
    color: #1C140D;
    background-color: #CBE86B;
    border: none;
    border-radius: 50px;
}

/* Style hero section, use flexbox to arrange elements */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.heroText {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.hero img {
    width: 500px;
    height: auto;
}

/* Style the text in the hero section */

h2, p {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
}

h2 {
    font-size: 40px;
    margin: 0;
}

p {
    font-size: 18px;
    opacity: 0.8;
}

/* Style the service previews by using flexbox */

.content {
    align-items: center;
    background-color: #F2E9E1;
    padding: 60px 0px;
}

.contentInfo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #CBE86B;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

/* Style the text in the service preview area */

.content p, h3 {
    font-family: "Montserrat", sans-serif;
    color: #1C140D;
}

h3 {
    font-size: 36px;
}
.content p {
    font-size: 20px;
    opacity: 1;
}
