/* Import font from Google */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Change default box sizing, margin/padding and background color */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f2e9e1;

}

/* Change font style of lists, links and button */

li, a, button {
    font-family: "Montserrat"; sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #1C140D;
    text-decoration: none;
}

/* Change logo style */

.logo {
    font-family: "Montserrat"; sans-serif;
    font-weight: bolder;
    font-size: 24px;
    color: #1C140D;
}

/* Turn header into flex box to space out elements evenly */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 5%;
}

/* Remove bullets and display links inline */

.navLinks {
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0px 24px;
}

/* Style button */

button {
    padding: 8px 24px;
    background-color: #cbe86b;
    border: none;
    border-radius: 50px;
}